<link rel="stylesheet" href="css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container mt-2 mb-2">
        <a class="navbar-brand" href="/">WELCOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
<!--                    <a class="nav-link active" href="#">WHO WE ARE</a>-->
                    <a class="nav-link nav-animation" href="/">HOME</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link nav-animation" href="/">WHO WE ARE</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link nav-animation" href="/our-team">OUR TEAM</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link nav-animation" href="/">JOBS</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        More
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item nav-animation" href="/">Action</a></li>
                        <li><a class="dropdown-item nav-animation" href="/">Another action</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>