<link rel="stylesheet" href="css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container mt-1 mb-1">
        <a class="navbar-brand" href="/"><%= typeof user !== 'undefined' ? 'Welcome: ' + user.username :  'Welcome' %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link nav-animation" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown">PRODUCTS</a>
                    <% if(typeof category !== "undefined") { %>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <% Object.values(category).forEach(function(c){ %>
                                <li><a class="dropdown-item nav-animation" href="/">c.name</a></li>
                            <% }) %>
                        </ul>
                    <% } %>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown">MANAGE</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item nav-animation" href="/manage/product">Product</a></li>
                        <li><a class="dropdown-item nav-animation" href="/manage/category">Category</a></li>
                    </ul>
                </li>
                <li class="nav-item me-3">
                    <% if(typeof user === "undefined") { %>
                        <a class="nav-link nav-animation" href="/login">Login</a>
                    <% } else { %>
                        <a class="nav-link nav-animation" href="/logout">Logout</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>