<!doctype html>
<html lang="en">
<head>
    <%- include('util/head.ejs', {title: "X"})%>
</head>
<body>
    <%- include('util/navbar.ejs') %>

    <%- include('util/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>